.cell-w-hired{
  display:block;
  padding: 40px;
  padding-top:30px;
  padding-bottom:5px;
  overflow: hidden;
}

.cell-hired{
  display:block;
  width:100%;
  max-width:900px;
  min-width:300px;
  height:auto !important;
  max-height:10000px !important;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #11111122;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  line-height: 120%;
  font-size: 11px;
  text-align: left;
  overflow: hidden;
  margin:auto;
/*   border: 1px solid whitesmoke; */
}

/* tbody{
  margin:0px;
  padding:0px;
}

table{
  border-collapse:collapse;
  table-layout:fixed;
}
 */

